#header-main-bar {
    height: 100px;
    padding: 0px clamp(5px, 5vw, 100px);
    margin-bottom: 100px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    column-gap: clamp(5px, 2vw, 5rem);
    text-wrap-mode: nowrap;

    background-color: var(--Color_BG_Header);
}

/* Logo */
#header-main-bar #main-branding {
    display: flex;
    align-items: center;
}
#header-main-bar #main-branding h1 {
    font-family: var(--KeyFont);
    font-size: clamp(15px, 3vw, 3rem);
    padding-left: 1rem;
    text-transform: uppercase;
    position: relative;
    top: clamp(-10px, -.2vw, 10px);
}
#header-main-bar #main-branding img {
    width: clamp(20px, 3vw, 90px);
}

/* Navbar */
#header-main-bar .navbar {
    height: 100%;
}
#header-main-bar .navbar .link-list {
    height: inherit;
    display: flex;
    align-items: center;
}
#header-main-bar .navbar .link-list .large-list-index {
    height: inherit;
    align-content: center;
}
#header-main-bar .large-link, .large-link:visited {
    height: 100%;
    padding: 0 clamp(2px, 1.2vw, 3rem);
    display: block;
    align-content: center;
}

#header-main-bar .dropdown {
    display: block;
    position: relative;
}
#header-main-bar .dropdown:hover .dropdown-content {
    display: grid;
}
#header-main-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Color_BG_Header);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
#header-main-bar .dropdown-content a {
    font-size: clamp(15px, 2vw, 1.5rem) !important;
    padding: 20px 20px;
}

/* General header link styling */
#header-main-bar a {
    font-size: clamp(15px, 2.5vw, 2rem);
    font-weight: bold;
    text-transform: uppercase;
}
#header-main-bar .text-list a:hover {
    background-color: var(--Color_BG_Hover);
}

#header-main-bar .image-list a:hover {
    filter: brightness(1.2);
}

.image-list {
    
    gap: clamp(0px, .8vw, 25px);

    li {
        width: clamp(10px, 3vw, 50px);
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        
    }
 
    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;

    }
}