:root {

    color-scheme: dark;

    --BG_Main_Hue: 240;
    --BG_Main_Sat: 10%;

    --BG_Main_Val: 22%;
    --BG_Header_Val: 15%;
    --BG_Hover_Val: 22%;

    --Text_Main_Hue: 0;
    --Text_Main_Sat: 0%;
    --Text_Main_Val: 100%;

    --Color_BG_Main: hsl(var(--BG_Main_Hue), var(--BG_Main_Sat), var(--BG_Main_Val));
    --Color_BG_Header: hsl(var(--BG_Main_Hue), var(--BG_Main_Sat), var(--BG_Header_Val));
    --Color_BG_Hover: hsl(var(--BG_Main_Hue), var(--BG_Main_Sat), var(--BG_Hover_Val));

    --Color_Text_Main: hsl(var(--Text_Main_Hue), var(--Text_Main_Sat), var(--Text_Main_Val));

    --ColorAccentBrightRed: rgb(255, 0, 0);
    --ColorAccentDarkRed: rgb(128, 0, 0);

    --ColorInlineLink: var(--ColorAccentBrightRed);

    --KeyFont: Bahnschrift, Arial, Helvetica, sans-serif;
    --BaseFont: Arial, Helvetica, sans-serif;

    
}