:root {

    color-scheme: dark;

    --BG_Main_Hue: 240;
    --BG_Main_Sat: 10%;

    --BG_Main_Val: 22%;
    --BG_Header_Val: 15%;
    --BG_Hover_Val: 22%;

    --Text_Main_Hue: 0;
    --Text_Main_Sat: 0%;
    --Text_Main_Val: 100%;

    --Color_BG_Main: hsl(var(--BG_Main_Hue), var(--BG_Main_Sat), var(--BG_Main_Val));
    --Color_BG_Header: rgba(0, 0, 0, .05);
    --Color_BG_Hover: hsla(0, 0%, 50%, 0.15);
    
    --Color_BG_Button: rgba(199, 199, 199, 0.05);
    --Color_BG_ButtonHover: rgba(255, 255, 255, 0.1);
    --Color_BG_ButtonActive: rgba(104, 104, 104, 0.15);

    --Color_Text_Main: hsl(var(--Text_Main_Hue), var(--Text_Main_Sat), var(--Text_Main_Val));

    --ColorAccentBrightRed: rgb(111, 0, 255);
    --ColorAccentDarkRed: rgb(32, 0, 70);

    --ColorInlineLink: var(--ColorAccentBrightRed);

    --BlurStrength: 30px;

    --KeyFont: Bahnschrift, Arial, Helvetica, sans-serif;
    --BaseFont: Arial, Helvetica, sans-serif;
    
}