@import "root.css";
@import "header.css";
@import url("https://use.typekit.net/ulm3zcb.css");

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Color_Text_Main);

    margin: 0;
    padding: 0;
}

body {
    position: static;
    background-color: var(--Color_BG_Main);
    min-height: 100vh;
}

.background-image {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    justify-self: center;

    width: clamp(1000px, 100%, 2000px);

    /* opacity: .5; */
}

.content {
    min-width: clamp(200px, 40vw, 1000px);
    max-width: 1000px;
    justify-self: center;

    transition: opacity .1s;
}

.section-heading {
    font-family: var(--KeyFont);
    font-size: 3rem;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: var(--KeyFont);
    font-size: 1.5rem;
    font-weight: normal;
}

/* #region List and Link Styling */

li {
    list-style-type: none;
}

.large-list {
    
    display: flex;
    flex-direction: column;
    gap: 50px;

    border: 1px solid black;

    a {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;

        background-color: var(--Color_BG_Header);
        padding: 20px 20px;

        border-radius: 10px;
    }

    a:hover {

    }
}

a {
    text-decoration: none;
}

/* #endregion */

/* #region Content Alignment */

.centered {
    text-align: center;
    justify-items: center;
}

/* #endregion */

.wait-for-header {
    opacity: 0;
}