@import "root.css";
@import "header.css";
/* @import url("https://use.typekit.net/ulm3zcb.css"); */

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Color_Text_Main);

    margin: 0;
    padding: 0;
}

body {
    position: static;
    background-color: var(--Color_BG_Main);
    min-height: 100vh;
}

.content {
    max-width: 1200px;
    justify-self: center;
}

/* #region General List Styling */

li {
    list-style-type: none;
}

/* #endregion */

.wait-for-header {
    visibility: hidden;
}