@import "root.css";
@import "header.css";
@import url("https://use.typekit.net/ulm3zcb.css");

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Color_Text_Main);

    margin: 0;
    padding: 0;
}

body {
    position: static;
    background-color: var(--Color_BG_Main);
    min-height: 100vh;
    width: 100vw;
}

.background-image {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    justify-self: center;
    overflow-x: hidden;
    object-fit: cover;

    width: clamp(0px, 100%, 2000px);
    height: 700px;

    filter: brightness(.65);
    box-shadow: 0 0 70px black;
}

.content {
    min-width: clamp(150px, 40vw, 1000px);
    max-width: 1000px;
    justify-self: center;

    transition: opacity .1s;

    margin: 0 10px;
    margin-bottom: 100px;
}
.content:last-of-type {
    margin-bottom: unset;

    
}

.section-heading {
    display: flex;
    justify-content: center;
}

.section-heading div {
    display: block;
    width: fit-content;
    margin-inline: auto;
}

.section-heading div span {
    display: inline;
    text-align: left;
    
    font-family: var(--KeyFont);
    font-size: 3rem;
    text-transform: uppercase;
    text-wrap:balance;
    line-height: 3rem;
}

.section-subtitle {
    font-family: var(--KeyFont);
    font-size: 1.5rem;
    font-weight: normal;
    text-wrap-style:balance;
}

/* #region List and Link Styling */

li {
    list-style-type: none;
}

.large-list {
    
    display: flex;
    flex-direction: column;
    gap: 50px;

    a {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;

        background-color: var(--Color_BG_Header);
        padding: 20px 20px;

        border-radius: 10px;
    }

    a:hover {

    }
}

a {
    text-decoration: none;
}

/* #endregion */

/* #region Content Alignment */

.centered {
    text-align: center;
    justify-items: center;
}

/* #endregion */

.wait-for-header {
    opacity: 0;
}