@import "root.css";
@import "header.css";
@import "footer.css";
@import url("https://use.typekit.net/ulm3zcb.css");

/* SCROLLBAR */
::-webkit-scrollbar {
    /* width: 5px; */
}
::-webkit-scrollbar-thumb {
    /* background-color: rgb(26, 26, 26); */
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Color_Text_Main);

    /* margin: 0; */
    padding: 0;

    
}

body {
    position: static;
    background-color: var(--Color_BG_Main);
    min-height: 100vh;
    width: 100%;
    margin: 0;

    overflow-x: hidden;
}

.background {
    z-index: -1000;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.home .background-images {
    position: relative;
    left: min(-60vw, -50%);

    display: flex;

    width: max(1800px, 150%);
    height: 1500px;

    filter: brightness(.5);
}

.home .background-images .background-image {
    width: 200%;
    height: 100%;
    clip-path: polygon(0 100%, 50% 0, 100% 0, 50% 100%);
    object-fit: cover;
}

.background-images.cover-art {
}
.background-images.cover-art .background-image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0%;
    top: 0%;
}

.section-background {
    z-index: -100;
    position: absolute;
    left: 0;
    width: 100%;
}

.content {
    min-width: clamp(150px, 40vw, 1000px);
    max-width: 1000px;
    justify-self: center;

    transition: opacity .2s;

    margin: 0 10px;
    margin-bottom: 100px;
}
.content:last-of-type {
    margin-bottom: unset;
}

.section-heading {
    display: block;
    text-align: left;
    
    font-family: var(--KeyFont);
    font-size: 3rem;
    text-transform: uppercase;
    text-wrap:balance;
    line-height: 3rem;
}

.section-subtitle {
    font-family: var(--KeyFont);
    font-size: 1.5rem;
    font-weight: normal;
    text-wrap: balance;
}

/* #region List and Link Styling */

li {
    list-style-type: none;
}

.large-list {
    
    display: flex;
    flex-direction: column;
    gap: 50px;

    a {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;

        background-color: var(--Color_BG_Header);
        padding: 20px 20px;

        border-radius: 10px;
    }

    a:hover {

    }
}

a {
    text-decoration: none;
}

.link-button {
    /* font-weight: bold; */

    background-color: var(--Color_BG_Header);
    backdrop-filter: blur(var(--BlurStrength));
    padding: 20px;
    border-radius: 100px 100px;
}

/* #endregion */

/* #region Content Alignment */

.centered {
    text-align: center;
    justify-items: center;
}

.image-grid {
    display: grid;
}

/* #endregion */

.wait-for-header {
    opacity: 0;
}