@import url("root.css");
@import url("header.css");
@import url("https://use.typekit.net/ulm3zcb.css");

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ColorTextWhite);

    margin: 0;
    padding: 0;
}

body {
    position: static;
    background-color: var(--ColorSiteBackground);
    min-height: 100vh;
}

