/* NAVIGATION */
.nav-3d-main {
    padding: 10px;
    position: fixed;
    left: 20px;
}

.nav-3d-main ul {
    list-style: none;
}

.nav-3d-main ul li {
    padding: 10px;

    font-size: 2rem;
}

/* SHOWCASE */

.showcase-container {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

    padding: 10px;

    /* border: 1px solid red; */
}

.showcase-container h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    
    text-align: center;
    font-weight: normal;
}

.showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.showcase-grid img {
    max-width: 500px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.showcase-grid .information {
    text-align: center;
}

.showcase-grid * {
    /* border: 1px solid blue; */
}