.contact-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.social-media .contact-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    aspect-ratio: 1;

    li {
        width: 100%;
        aspect-ratio: 1;
    }
    a {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    img {
        width: 100%;
        overflow: hidden;
        border-radius: 100%;
    }
}