.contact-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, fit-content()); */
    gap: 100px;
}

.social-media .contact-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    aspect-ratio: 1;

    li {
        width: 100px;
        aspect-ratio: 1;
    }
    a {
        border-radius: 100%;
    }
    img {
        width: 100%;
        overflow: hidden;
        border-radius: 100%;
    }
}