#about-main {
    display: grid;
    grid-template-columns: repeat(3, 100vw);

    position: relative;

    transition: .5s;
}

#about-main > section {
    width: clamp(200px, 90vw, 800px);
    justify-self: center;
    transition: opacity .5s;
}

.about-shortcuts {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;

    button {
        padding: 10px;
        border-radius: 10px;
        border-style:hidden;

        font-family: var(--KeyFont);
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    
}