form {
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    background-color: var(--Color_BG_Header); /* Temporary color */

    display: grid;
    gap: 30px;
    justify-self: center;
    justify-content: center;
}

form * {
    padding-bottom: 10px;
    border: 0;
}

form textarea {
    resize: none;
    width: 400px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    /* font-size: 1rem; */
}

form div {
    display: grid;
}

form input[type="submit"] {
    padding: 10px;
}

form select {
    padding: 10px;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}