.pendant {
  display: block;
  width: clamp(200px, 80%, 550px);
  position: absolute;
  top: 0;
  justify-self: center;
  object-fit: cover;

  z-index: -500;
}

.tds-background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -750;
}

.coming-soon {
  margin-top: 100px;
  padding: 0;
  text-shadow: 0 0 40px black;
}

.below-tds-logo {
  margin-top: clamp(400px, 100vw, 700px);
}